<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hometasker</title>
</head>
<body>
<form action="/update" method="post" th:object="${taskToUpdate}">
    Opis zadania: <input type="text" th:field="${taskToUpdate.description}" /> <br/>
    Punkty: <input type="number" th:field="${taskToUpdate.points}" /> <br/>
    Data: <input type="datetime-local" th:field="${taskToUpdate.localDateTime}" /> <br/>
    <input type="submit" value="Edytuj" />
</form>
</body>
</html>